.container {
  height: 700px;
  width: 80%;
  margin: 200px auto;
  background-color: black;
  box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
  display: grid;
  /* grid-template-columns: minmax(500px, 1fr) minmax(500px, 1fr); */
  /* grid-template-rows: 1fr  */
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(100px, auto); */
  /* grid-template-columns: repeat(4, minmax(100px, 200px)); */
  /* grid-template: repeat(2, 1fr) / repeat(5, minmax(100px, 200px)); */
  /* grid-template-columns: fit-content(300px) fit-content(600px) fit-content(
      300px
    ); */

  grid-template: 1fr 1fr / repeat(4, 1fr);
  /* column-gap: 20px;
  row-gap: 16px; */
  grid-gap: 16px 20px;
}

.box {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
