body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: tomato;
  height: 200px;
  width: 200px;
  animation: move 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    background-color: hotpink;
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
    background-color: olive;
  }
}
/* 
.loader span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: lightblue;
  border-radius: 50%;
  margin: 0 10px;
  animation: 1s jump infinite; 
}

.loader span:nth-child(1) {
  animation: 1s jump infinite ease-in-out;
}

.loader span:nth-child(2) {
  animation: 1s 0.3333s jump infinite ease-in-out;
}

.loader span:nth-child(3) {
  animation: 1s 0.6666s jump infinite ease-in-out;
} */

/* @keyframes jump {
  0% {
    transform: translateY(0) scale(1);
  }
  30% {
    transform: translateY(-20px) scale(1.2);
  }
  75% {
  }
} */

/*.spinner {
  width: 300px;
  height: 300px;
  border: 7px solid gray;
  border-top-color: #3f51b5;
  border-radius: 50%;
  animation: spin 1s infinite ease-in-out;
   animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; 
}
  */

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* .box {
  width: 300px;
  height: 300px;
  background-color: orangered;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 3s ease-in-out 2s infinite alternate;
 animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 2s;
  animation-timing-function: ease-in-out; 
} */

/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(500px);
  }

  75% {
    transform: translateX(800px);
  }
  100% {
    transform: translateX(2000px);
  }
} */

/* @keyframes rainbow {
  0% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }

  100% {
    background-color: green;
  }
} */

/* @keyframes colorchange {
  from {
    background-color: pink;
  }

  to {
    background-color: cyan;
  }
} */
