body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Toggle */
.toggle {
  opacity: 0;
}

.toggle + label {
  position: relative;
  padding-left: 6rem;
}

.toggle + label::before {
  content: "";
  background-color: #c6d0cc;
  position: absolute;
  top: 0;
  left: 0;
  width: 4.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  transition: background-color 0.2s;
}

.toggle + label::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  transition: transform 0.2s;
}

.toggle:checked + label::before {
  background-color: #20b776;
}

.toggle:checked + label::after {
  transform: translateX(2rem);
  /* transition: transform 0.2s; */
}

/* Hover me 

.btn {
  padding: 20px 40px;
  text-transform: uppercase;
  border: 2px solid #e91e63;
  border-radius: 25px;
  text-decoration: none;
  color: #e91e63;
  position: relative;
  overflow: hidden;
  transition: color 0.5s ease;
}

.btn::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #e91e63;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: -1;
}

.btn:hover {
  color: white;
}

.btn:hover::before {
  transform: translateX(0);
}

*/
